# Exercises

In [1]:
import pandas as pd

#0 把 train.csv 讀進來

#1 找出前3個row, 前5個column

#2 找出row index = [0, 7, 9], column index = [0, 2, 3]

#3 找出column名稱= ['Survived', 'Name', 'Sex']

#4 找出column名稱= ['Survived', 'Pclass'], row index = [3, 6, 9]

#5 找出Embarked是C

#6 找出Embarked不是C

#7 找出Age在25跟35中間（不包含25跟35）
   只呈現'Survived', 'Age', 'Sex'

#8 找出Age在25跟35中間（不包含25跟35） 或是Sex等於female

#9 用loc找出所有男生並只顯示Sex欄位

#10 把 Sex 欄位的 male 改成 1
               female 改成 0
  （把第9題的結果變成m）

# 11 取出 Name 的稱呼 並把結果存在新的 Title 欄位
     ex. Braund, Mr. Owen Harris 稱呼: Mr
         Graham, Miss. Margaret Edith 稱呼: Miss

# 12 新增一個新的 Family 欄位
     Family 欄位等於 Sibsp + Parch + 1 （自己）

# 13 以圖示呈現 Survived 在一下的欄位中有何不同
     Pclass, SibSp, Parch, Embarked, Family

# 14 one-hot encoding:
     以 function 的方式完成以下題目
     把 Embarked 欄位以 one-hot encoding 的方式呈現並合併到原本的 DataFrame

# 15 one-hot encoding: embarked
     以 function 的方式完成以下題目
     把 Embarked 欄位以 one-hot encoding 的方式呈現並合併到原本的 DataFrame

# 16 Age 的 NA 以平均值填入（round到整數）