https://www.kaggle.com/c/open-shopee-code-league-logistic

Task: 偵測包裹是否延誤

第一次送貨不成功，會進行第二次送貨
第二次送貨不能超過3天
時間格式：UTC + 8
工作日：Monday ~ Saturday
Day 0 = Day of Pickup; Day 1 = Next Day after Pickup
公定假日：
    2020-03-08
    2020-03-25
    2020-03-30
    2020-03-31
SLA:
|                |  Metro Manila  |      Luzon     |     Visayas    |    Mindanao    |
| -------------- | -------------- | -------------- | -------------- | -------------- |
|  Metro Manila  | 3 working days | 5 working days | 7 working days | 7 working days |
|      Luzon     | 5 working days | 5 working days | 7 working days | 7 working days |
|     Visayas    | 7 working days | 7 working days | 7 working days | 7 working days |
|    Mindanao    | 7 working days | 7 working days | 7 working days | 7 working days |

Steps:
1. 算出第一次及第二次運貨時間
2. 算出每個地點的標準送貨時間
3. 比較出是否有延誤

In [1]:
import pandas as pd
from datetime import datetime, timedelta

#1 把delivery_orders_march.csv讀進來

In [2]:
df=pd.read_csv('./titanic4/train.csv',sep=',')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#2 取出 pick 的第一個欄位
   利用 pd.Timestamp() 把 pick 轉換成人看得懂的時間

#3 取出 pick 的第一個欄位
   利用 pd.Timestamp() 把 pick 欄位轉成人看得懂的時間
   並且把時間轉換成新加坡時間

#4 取出 pick 的第一個欄位
   利用 pd.Timestamp() 把 pick 欄位轉成人看得懂的時間
   並且把時間轉換成新加坡時間
   只取日期出來

#5 把第4題的結果套用在整個 pick 欄位 並存在新的 pick_date 欄位

#6 針對 1st_deliver_attempt, 2nd_deliver_attempt 也轉換成日期 並存在新的 first_date, second_date 欄位 （參考第5題）

#7 以list的型態列出所有的非工作日
   日期要以日期型態表示

#8 取出其中一個非工作日的日期
   並用這個日期找出取貨日到第一次送貨的日期中有出現這個日期的資料
   提示：利用 loc 做判斷

#9 利用迴圈的方式找出：
   1. 取貨日～第一次送貨日當中出現過非工作日的天數，並存成新的欄位 h_first
   2. 第一次送貨日～第二次送貨日當中出現過非工作日的天數，並存成新的欄位 h_second

#10 把 h_first, h_second 變成天數型態

#11 找出第一次以及第二次的運送天數，並扣掉當中的非工作日

#12 找出買家及賣家居住城市，並存成新欄位 b_add, s_add

#13 利用 loc 以及 str.contains 找出 b_add 有 Manila 或是 manila 的資料

#14 利用 loc 以及 str.contains 找出 b_add 有 Manila 或是 manila 的資料
    把以上查詢到的資料變成同一的名稱 Metro Manila，並存在新的欄位 b_city

#15 針對其他三個城市也做跟第14題一樣的動作

#16 針對賣家也做跟第14,15題一樣的動作，並把結果存在 s_city

|                |  Metro Manila  |      Luzon     |     Visayas    |    Mindanao    |
| -------------- | -------------- | -------------- | -------------- | -------------- |
|  Metro Manila  | 3 working days | 5 working days | 7 working days | 7 working days |
|      Luzon     | 5 working days | 5 working days | 7 working days | 7 working days |
|     Visayas    | 7 working days | 7 working days | 7 working days | 7 working days |
|    Mindanao    | 7 working days | 7 working days | 7 working days | 7 working days |

#17 新增一個欄位 sla
    並讓他等於：7天

#18 利用 loc 找出 b_city = 'Metro Manila' & s_city = 'Metro Manila

#19 利用 loc 找出 b_city = 'Metro Manila' & s_city = 'Metro Manila
    把以上查詢到的資料存成 3天，並覆蓋 sla

#20 找出 sla 等於5天的城市，並且覆蓋sla

|                |  Metro Manila  |      Luzon     |     Visayas    |    Mindanao    |
| -------------- | -------------- | -------------- | -------------- | -------------- |
|  Metro Manila  | 3 working days | 5 working days | 7 working days | 7 working days |
|      Luzon     | 5 working days | 5 working days | 7 working days | 7 working days |
|     Visayas    | 7 working days | 7 working days | 7 working days | 7 working days |
|    Mindanao    | 7 working days | 7 working days | 7 working days | 7 working days |

#21 找出一下欄位 'orderid', 'final_first', 'final_second', 'sla'
    把結果存成 final_data

#22 在 final_data 新增一個欄位 is_late
    並讓他等於0

#23 找出 final_first > sla
    只呈現 is_late 欄位

#24 找出 final_first > sla
    只呈現 is_late 欄位
    並將 is_late 欄位等於1

#25 找出 final_second > 3天
    只呈現 is_late 欄位

#26 找出 final_second > 3天
    只呈現 is_late 欄位
    並將 is_late 欄位等於1

#27 從 final_data 裡取出 'orderid', 'is_late'

#28 將26題存成csv檔
    記得不要輸出 index 欄位